<div class="main-container">
  <div class="title">
    <h1>SHARECAMP</h1>
    <h2>「誰か持ってきて」「私が持っていきます」<br>このやりとりをかんたんに</h2>
    <%= link_to '持ってきて欲しい物リストを作ってみる', new_event_path,class:"event-new-link" %>
    <p>ログイン不要、すぐに使えます</p>
  </div>

  <div class="describe-container">
    <div class="describe-text">
      <h3>こんなことありませんか？ <span class="camp-bring-text">持ち物分担って面倒...</span></h3>
      <p>キャンプなどで、各自がそれぞれ持っていく必要のない、グループのメンバーの誰かが持ってくればいい物ってありますよね。<br>それを誰が持っていくか決めるのって面倒。</p>
    </div>
    <div class="container-img">
      <%= image_tag 'top/komatta_group.png',class:"camp-tent" %>
    </div>
  </div>
  <div class="arrow">
    <%= image_tag 'top/buttom_arrow.png',class:"arrow-buttom" %>
  </div>
  <div class="solution-container-text">
    <h3 class="sharecamp-solution">SHARECAMPを使えば<br>かんたんに決められる!!</h3>
  </div>
  <div class="solution-container">
    <div class="solution-image">
      <%= image_tag 'top/sharecamp_show_main_image.png',class:"sharecamp-show-main" %>
    </div>
    <div class="solution-text">
      <p class="describe-detail-text-title">グループで持ってきて<br>欲しい物がすぐわかる！</p>
      <p class="describe-detail-text">グループに必要な持ち物リストも<br class="br-sp">すぐに作れて見やすい！</p>
      <p class="describe-detail-text">ユーザー登録も、<br class="br-sp">持っていく持ち物の入力も簡単！</p>
    </div>
  </div>
  <div class="solution-container">

    <div class="solution-image">
      <%= image_tag 'top/sharecamp_show_invite_image.png',class:"sharecamp-show-main" %>
    </div>
    <div class="solution-text">
      <p class="describe-detail-text-title">URLでグループに<br class="br-sp">簡単共有！</p>
      <p class="describe-detail-text">URLをコピーするだけで、<br class="br-sp">簡単に持ち物リストを共有できます。</p>
    </div>
  </div>
  <div class="solution-container">
    <div class="solution-image">
      <%= image_tag 'top/sharecamp_show_self_bring_image.png',class:"sharecamp-show-main" %>
    </div>
    <div class="solution-text">
     <p class="describe-detail-text-title">自分の持ち物も<br class="br-sp">すぐに見れる！</p>
     <p class="describe-detail-text">グループで持っていく物も、<br class="br-sp">自分の持ち物も管理できます。</p>
    </div>
  </div>
<div class="link-container">
  <%= link_to '持ってきて欲しい物リストを作ってみる', new_event_path,class:"event-new-link" %>
</div>


</div>



    <%= render partial: 'footer', locals: { current_user: current_user } %>
