<h1>New Event</h1>
 <%
=begin%>
 <%= @current_user.name %> 
 <%= @current_user.events[0].name %>  
<%
=end%>
<%= @takasu %>
<%= javascript_pack_tag 'event_new' %>
<%= stylesheet_pack_tag 'event_new'  %>  

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>

