<%
=begin%>
 <h1>イベント名</h1> 
<%
=end%>
 <%
=begin%>
 <%= @current_user.name %> 
 <%= @current_user.events[0].name %>  
<%
=end%>
<%= javascript_pack_tag 'event_new' %>
<%= stylesheet_pack_tag 'event_new'  %>  

<%
=begin%>
 <%= render 'form', event: @event %> 
<%
=end%>
<%
=begin%>
 
<%= link_to 'Back', events_path %> 
<%
=end%>

