<h1>New Event</h1>
<%
=begin%>
 <%= javascript_pack_tag 'hello_vue' %> 
<%
=end%>
<div id="js-hello"></div>
<%
=begin%>
 <%= javascript_pack_tag 'event_new' %>
<%= stylesheet_pack_tag 'event_new'  %>  
<%
=end%>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>

