<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<%= javascript_pack_tag 'event_show' %>
<%= stylesheet_pack_tag 'event_show'  %> 
