<p id="notice"><%= notice %></p>
 <p>hello! <%= current_user.name %></p>
 <span>別人の場合は</span><%= link_to 'こちら', new_user_path %> 
<p>
  <strong>Name:</strong>
  <%= @event.name %>
  <%= @event.users.each do |asda|%>
  <%= asda %>
  <% end %>
</p>
<h1><%= @event.name %></h1>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= javascript_pack_tag 'event_show' %>
<div id='event_show' data-current-user-id="<%= current_user.id %>" data-page-url="<%= @url %>" data-from-create="<%= @fromCreate %>"></div> 
<%= stylesheet_pack_tag 'event_show'  %>  
