
<%= page_heading @event.name %>
<%= javascript_pack_tag 'event_show' %>
<div id='event_show' data-current-user-id="<%= current_user.id %>"  data-from-create="<%= @from_create %>"></div> 
<%= stylesheet_pack_tag 'event_show'  %>  
