<header>
  <div class=header-left>
    <%= link_to root_path, target: "_self" do %>
    <%= image_tag "img_logo.png" ,class:"img_logo"%>
    <p class="header-left-title">SHARECAMP</p>
    <% end %>


  </div>
  <div class=header-right>
    <div class="hamburger-menu">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
      <div class="menu-content">
        <ul class="header-menu-content-ul">
          <li>
            <% unless controller.controller_name=="events" && controller.action_name=="index" %>
            <%= link_to "最近見たリスト一覧", events_path ,class:"recent-watch-link" %>
            <% end %>
          </li>

          <% if recent_watched_events_count==0 %>
          <li class="no-recent-watch">
            <p>最近見たリストはありません</p>
          </li>
          <% end %>
          <% if controller.controller_name=="events" && controller.action_name=="show" %>

          <div class="user-change-link">
            <li>
              <p>hello! <span class="current-user-name"><%= current_user.name %></span></p>
              <p><span>別人の場合は</span><%= link_to 'こちら', new_user_path %></p>
            </li>
          </div>
          <% end %>

        </ul>
      </div>
    </div>

  </div>
</header>
