<!DOCTYPE html>
<html>

<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@EngineerSeiji" />
  <meta property="og:url" content="https://sharecampport.herokuapp.com/" />
  <meta property="og:title" content="SHARECAMP" />
  <meta property="og:description" content="「誰か持ってきて」「私が持っていきます」このやりとりをかんたんにするWEBサービス" />
  <meta property="og:image" content="<%= asset_url('ogp.png') %>" />
  <meta name="twitter:image" content="<%= asset_url('ogp.png') %>" />
  <meta name="description"
    content="「誰が持ってきて」「私が持っていきます」 SHARECAMPは、グループで持ち物リストを共有できるWEBサービスです。ログインなしで簡単に持ち物リストを作成、共有できます。">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
 
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>
  <header>

    <%= render partial: 'header', locals: { current_user: current_user } %>
  </header>

  <%= yield %>
</body>

</html>
