<!DOCTYPE html>
<html>

<head>
<title><%= page_title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="summary" /> <!--①-->
<meta name="twitter:site" content="@EngineerSeiji" /> <!--②-->
<meta property="og:url" content="https://sharecampport.herokuapp.com/" /> <!--③-->
<meta property="og:title" content="SHARECAMP" /> <!--④-->
<meta property="og:description" content="「誰か持ってきて」「私が持っていきます」
このやりとりをかんたんにするWEBサービス" /> <!--⑤-->
<meta property="og:image" content="/assets/ogp.png" /> <!--⑥-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <header>

      <%= render partial: 'header', locals: { current_user: current_user } %>
  </header>

  <%= yield %>
</body>

</html>
